*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header{
  background-color: red;
  z-index: 1;
}
body{
  background-color: #FFA07A;
}
#h1-header{
  color: #fff;
  font-family: arial;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 1px;
}

.h3-header{
  color: #fff;
  font-family: Arial;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 1px;
}

.link-cabeçalho{
  text-decoration: none;
  color: #fff;
  word-spacing: 5px;
  font-size: 16px;
  font-family: arial;
}

#navegação{
  text-align: right;
  padding-right: 5px;
}

.section-1{
  color: #fff;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 160px;
  border-radius: 12px;
}

.h2-section1{
  font-family: arial;
  font-size: 25px;
  padding-top: 27px;
}
.p1{
  padding-top: 13px;
  font-family: arial;
  font-size: 22px;
}
#section-grid{
  padding: 10px;
  height: 10%;
  padding-bottom: 20px;
}
.section-2{
  background-color: red;
  margin:0 auto;
  width: 50%;
  max-width: 100%;
  height: 180px;
  border-radius: 12px;
  text-align: center;
}
.grid{
  background-color: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0px;
}

.sub-grid{
  margin:0 auto;
  background-color: #fff;
  position: relative;

  width: 100%;
  height: 250px;
}

.sub-grid img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;

  z-index: 1;
}

.item-sub-grid{
  position: absolute;
  width: 100%;
  height: 250px;

  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
